@charset "utf-8";
/* CSS Document */

body{
	font-size:12px;
	color:#7F7D82;
	font-family:Helvetica, sans-serif,Arial,'宋体';
	background: url(../images/bg.jpg) repeat;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
h2{font-family:'Microsoft YaHei';}
h3,h4{ font-size:14px;}
li{ list-style:none;}
img{ border:0;}
.font14{ font-size:14px;}
table{ border-collapse:collapse;}
.line24{ height:24px; line-height:190%; overflow:hidden;}
.martop10{ margin-top:10px;}
.fl{ float:left;}
.fr{ float:right;}
.clear {
    clear: both;
    height: 0;
	overflow:hidden;
	visibility:0;
    line-height: 0;}
.clearfix:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}
/* Hides from IE-mac \*/
*+html .clearfix {height: 1%; overflow:hidden;}
* html .clearfix {height: 1%; overflow:hidden;}
/* End hide from IE-mac */

a{ text-decoration:none; color:#7F7D82;}
/*公用部分*/
.gray{ color:#7F7D82;}
.blue{ color:#78BBE6;}
.bluebg{ background:#78BBE6;}
.blue-border{ border:#78BBE6 solid 1px;}
.blue-xin{
	background:url(../images/allbg1.png) no-repeat 0px -20px;
	padding-left:20px;}
.pink{ color:#ff73a9;}
.in-width{
	width:1001px;
	margin:0px auto;}
.in-width1{
	width:955px;
	margin:0px auto;}
.footbg{
	background:url(../images/xia-1001.gif) no-repeat;
	height:16px;}
.topbg{
	background:url(../images/shang-1001.gif) no-repeat;
	height:16px;}
.middlebg{
	background:url(../images/main_bg.jpg) repeat-y left top;
	}
.good-top{
	overflow:hidden;
	background:url(../images/goodsbg1.gif) no-repeat;
	height:14px;}
.good-foot{
	background:url(../images/goodsbg3.gif) no-repeat;
	height:14px;}
.good-lc1{
	background:url(../images/goodsbg2.gif) repeat-y;
	padding:16px;}
.good-top1{
	background:url(../images/goodsbg4.gif) no-repeat;
	height:14px;
	overflow:hidden;}
.good-foot1{
	background:url(../images/goodsbg4-2.gif) no-repeat;
	height:14px;}
.good-lc2{
	background:url(../images/goodsbg4-1.gif) repeat-y;
	}
.top1{
	height:60px;

	}
.logo{
	width:50px;
	display:inline;
	margin-left:14px;}
.menu{
	width:750px;
	height:38px;
	position:relative;
	margin-top:24px;}
.index-login{
	position:absolute;
	/*width:180px;*/
	z-index:1000;
	right:0px;
	top:0px;}
.loginlost{
	position:absolute;
	width:180px;
	z-index:1000;
	right:0px;
	top:-10px;
	line-height:34px;
	height:34px;
	}
.loginlost .member-pic{
	float:left;
	display:inline;
	margin-right:5px;
	}
.loginlost font{
	font-size:14px;
	font-family:'Microsoft YaHei';
	font-weight:bold;
	}
.loginlost .tuichu{
	margin-left:5px;}
.menu ul li{
	float:left;
	display:inline;
	text-align:center;
	line-height:24px;
	margin-right:2px;}
.menu ul li a{
	font-family:'Microsoft YaHei';
	font-size:14px;
	padding:2px 8px;}
.menu ul li a.current{
	color:#FFF;
	background:#78BBE6;
	}
.menu ul li a:hover{
	color:#FFF;
	background:#78BBE6;
	}
.menu .index-login a.blue-border{
	display:block;
	width:65px;
	font-size:12px;
	float:left;
	text-align:center;
	line-height:20px;
	height:20px;
    margin-left:1px;
    }
.other-login1{
	width:100px;
	display:inline;
	margin-left:10px;
	float:left;}
.pulldown{ position:relative;}
.pulldown ul{
	display:none;
	background:#FFF;
	position:absolute;
	z-index:100;
	left:0px;
	top:23px;
	border:#CCC solid 1px;
	padding:5px 0px;
	width:100px;}
.menu ul li.pulldown ul li{
	 margin-left:0px;
	 float:none;
	 display:block;
	 line-height:24px;
	 height:24px;
	 border-bottom:#CCC dotted 1px;
	 text-align:center;}
.menu ul li.pulldown ul li a:hover{ background:none; color:#999;}
.banner{
	margin-top:10px;}
#content{
	width:1001px;
	margin:0px auto;
	margin-top:10px;}
.content1-m{
	padding:0px 23px;
	}
.cn1-tt{
	height:46px;
	line-height:46px;}
.cn1-tt h2{
	font-size:18px;
	display:inline;
	}
.cn1-tt p{display:inline; margin-left:15px;}
.cn1-tt p a{
	margin:0px 5px;}
.cn1-tt p a:hover{
	text-decoration:underline;}
.cn1-tt p a span{
	color:#FFF;
	padding:0 5px;
	margin-right:5px;}
.beaut-d1{
	width:155px;
	height:170px;
	float:left;
	padding:1px;
	display:inline;
	margin-left:3px;
	margin-bottom:4px;
	background:#FFF;
	position:relative;
	overflow:hidden;}
.spanbg{
	background:#FFF;
	position:absolute;
	bottom:0px;
	left:0px;
	height:24px;
	line-height:24px;
	display:block;
	z-index:10;
	width:155px;
	filter:alpha(opacity=70);-moz-opacity:0.7;-khtml-opacity:0.7;opacity:0.7;
	}
.spanword{
	position:absolute;
	bottom:0px;
	left:0px;
	height:24px;
	font-weight:600;
	font-size:12px;
	line-height:24px;
	display:block;
	padding:0px 10px;
	z-index:20;}
.picul{
	height:348px;
	overflow:hidden;}
.picul li{
	float:left;}
.beaut-w1{
	overflow:hidden;
	width:324px;}
.beaut-w2{
	overflow:hidden;
	width:307px;}
.picul1{
	margin-top:10px;}
.picul1 li{
	width:50px;
	float:left;
	display:inline;
	margin-right:10px;}
.content2{
	margin-top:10px;}
.content2 h2{
	display:block;
	height:24px;
	line-height:24px;
	font-size:18px;
	}
.cn2-l{
	width:340px;
	overflow:hidden;}
.cn2-r ul{
	margin-left:9px;
	width:360px;
	overflow:hidden;}
.cn2-l ul li{
	background:url(../images/allbg.png) no-repeat 0px -38px;
	width:130px;
	margin-right:7px;
	padding:16px;
	display:inline;
	margin-bottom:10px;
	height:150px;}
.cn2-l ul li div{
	width:130px;
	height:150px;
	position:relative;}
.spanbg1{
	background:#FFF;
	position:absolute;
	bottom:0px;
	left:0px;
	height:24px;
	line-height:24px;
	display:block;
	z-index:10;
	width:130px;
	filter:alpha(opacity=70);-moz-opacity:0.7;-khtml-opacity:0.7;opacity:0.7;
	}
.spanword1{
	position:absolute;
	bottom:0px;
	left:0px;
	height:24px;
	font-weight:600;
	font-size:12px;
	line-height:24px;
	display:block;
	width:110px;
	padding:0px 10px;
	z-index:20;}
.cn2-l ul li{
	float:left;
	width:130px;}
.scroll-top{
	position:fixed;
	right:0px;
	bottom:0px;
	z-index:9999;}
* html .scroll-top /* IE6 底部固定  */{position:absolute;bottom:auto;top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0))-0);}
.cn2-m{
	display:inline;
	background:url(../images/allbg.png) no-repeat 0px -221px;
	padding:16px;
	height:340px;
	width:289px;
	float:left;}
.content3{
	}
.content3 .content1-m h2{
	font-size:16px;
	height:16px;}
.cn3-cn{
	overflow:hidden;
	margin-top:15px;
	}
.logolist li{
	float:left;
	width:49px;
	height:49px;
	border:#CCC solid 1px;
	overflow:hidden;
	margin-top:13px;
	display:inline;
	margin-left:12px;}
.cn3-cn ul{
	width:1000px;
	overflow:hidden;}
.cn3-cn ul li{
	float:left;
	width:150px;
	overflow:hidden;
	position:relative;
	height:150px;
	display:inline;
	margin-right:11px;}
.spanbg2{
	width:150px;}
.cn3-cn1{ margin-top:10px;}
.cn3-cn1 ul li{
	float:left;
	width:160px;
	border:#CCC solid 1px;
	padding:3px 5px;
	margin-right:14px;}
.fenlei-l{
	width:40px;
	margin-top:8px;
	font-size:14px;
	font-weight:bold;}
.fenlei-r{
	width:120px;}
.fenlei-r a{
	margin:0px 2px;}
.content4,.content5,.content6,.content7{
	margin-top:10px;}
.cn5-title{
	height:24px;
	line-height:24px;}
.cn5-title h2{
	font-size:16px;
	display:inline;}
.cn5-title p{ display:inline; margin-left:10px;}
.cn5-title p a{ margin:0px 5px;}
.cn5-cn1{
	width:189px;
	height:345px;
	display:inline;
	margin-left:4px;
	margin-top:15px;}
.cn5-cn2{
	width:756px;
	height:345px;
	overflow:hidden;
	margin-top:15px;}
.cn5-cn3{
	display:inline;
	width:153px;
	height:169px;
	margin-bottom:6px;
	margin-left:13px;}
.cn5-cn4{
	display:inline;
	width:243px;
	height:169px;
	margin-bottom:6px;
	margin-left:13px;}
.spanbg3{
	width:189px;}
.cn5-cn1,.cn5-cn3,.cn5-cn4{ position:relative; overflow:hidden;}
.cn5-cn1 .spanword .gray,.cn5-cn3 .spanword .gray,.cn5-cn4 .spanword .gray{ color:#7F7D82; font-weight:normal;}
.cn5-cn1 .spanword{ width:169px;}
.spanbg4{ width:153px;}
.cn5-cn3 .spanword{ width:133px;}
.cn5-cn4 .spanword{ width:223px;}
.spanbg5{ width:243px;}
.addguaz{
	margin-top:10px;}
.add-t{
	width:90px;
	line-height:18px;}
.add-c{
	width:740px;}
.add-c ul li{
	height:34px;
	width:114px;
	float:left;
	display:inline;
	margin-left:10px;}
.add-img{ width:34px;}
.add-word{ width:76px;}
.add-word1{
	height:16px;
	line-height:16px;
	margin-top:3px;}
.add-r{
	width:100px;
	text-align:right;
	line-height:17px;}
.cn7-cn h2{
	height:34px;
	line-height:34px;
	font-size:16px;}
.cn7-list{ margin-top:10px;}
.cn7-list li{
	float:left;
	width:50px;
	height:50px;
	margin-bottom:10px;
	display:inline;
	margin-left:10px;
	margin-right:8px;}
.cn7-list li img{ border:#CCC solid 1px;}
.word-ullist{
	width:120px;
	display:inline;
	margin-right:30px;
	float:left;
	background:url(../images/xian.gif) no-repeat right bottom;}
.word-ullist ul{ margin-top:10px;}
.word-ullist ul li{
	float:left;
	width:50px;
	line-height:18px;}
.nobackground{ background:none;}
.heioverf{height:360px; overflow:hidden;}
.foot1{width:114px;}
.foot2{width:134px;}
.foot3{width:134px;}
.foot4{width:160px; text-align:center;}
.foot5{width:140px;display:inline; margin-left:30px;}
.foot6{width:134px;}
.foot7{width:100px;}
.foot1 ul li,.foot2 ul li,.foot3 ul li,.foot4 ul li,.foot5 ul li,.foot6 ul li,.foot7 ul li{ height:20px; line-height:20px;}
/*goods css*/
.good-banner {
	width:910px;
	margin:0px auto;
	margin-top:10px;}
.good-banner ul li{
	float:left;
	position:relative;
	width:150px;
	height:150px;}
.good-bbg{
	position:absolute;
	padding:2px 10px;
	color:#FFF;
	z-index:100;
	left:10px;
	top:120px;
	background-color:rgba(21, 0, 8, 0.5);/*ff*/
filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#8F000000', EndColorStr='#8F000000');/*ie*/
	}
.padding10{ padding-bottom:10px}
.good-left{
	overflow:hidden;
	width:750px;
	display:inline;
	margin-left:4px;}
.good-right{
	overflow:hidden;
	width:243px;}
.goodl-l{
	width:450px;}
.goodl-r{
	line-height:24px;
	width:252px;}
.goodpiclist{
	height:50px;
	overflow:hidden;
	margin-top:10px;}
.goodpiclist ul li{
	float:left;
	width:50px;
	display:inline;
	margin-right:10px;}
.blue-xin1{
	background:url(../images/xin.png) no-repeat 0px 0px;
    width:55px;
	height:35px;
	line-height:40px;
	margin-top:20px;
	font-weight:bold;
	font-size:30px;
	padding-left:50px;}
.intro1a{
	background:url()}
.good-xx{ margin-top:20px;}
.good-xx span{ padding-right:5px;}
.beaut-pic{ padding-top:10px; text-align:center;}
.beaut-name{text-align:center; height:24px; overflow:hidden; margin-top:10px; }
.beaut-name li{ display:inline; height:24px; }
.beaut-name li.admin-img{ margin-left:5px; margin-right:5px; }
.beaut-gz{ margin-left:15px; margin-top:10px;}
.beaut-gz li{
	float:left;
	display:inline;
	margin-left:10px;
	height:50px;
	overflow:hidden;
	padding-right:10px;
	border-right:#CCC solid 1px;
	}
.beaut-gz li .blue{
	font-size:14px;
	font-weight:bold;}
.beaut-gz li {line-height:24px;}
.beaut-gz li.noborder p.img-line{ padding:4px 0px; height:16px; line-height:16px;}
.beaut-gz li.noborder{ border:0px;}
.add-guanz{ margin-top:10px;}
.add-guanz .fl{
	display:block-inline;
	width:90px;
	margin-left:20px;
	height:33px;
	line-height:33px;
	text-align:center;
	font-size:14px;
	color:#FFF;
	font-weight:bold;}
.add-guanz .fr{
	display:block-inline;
	background:#78bbe6;
	margin-right:20px;
	background:url(../images/icons3.gif) no-repeat left center;
	height:33px;
	padding-left:20px;
	line-height:33px;
	}
.gowhere{
	width:200px;
	height:36px;
	line-height:36px;
	text-align:center;
	margin:0px auto;
	margin-top:15px;
	}
.gowhere a{
	color:#FFF;
	font-size:14px;}
.pinglun{
	margin-top:20px;}
.pllist-text textarea,.pl-kuang textarea{ background:#fbfbfb;}
.pl-kuang textarea{
	border:#CCC solid 1px;
	overflow-y:hidden;
	height:50px;
	width:710px;}
.pl-btn{
	margin-top:10px;}
.pl-smile{
	width:19px;}
.pl-zf{
	width:122px;
	display:inline;
	margin-left:490px;}
.pl-anniu{
	width:80px;}
.button1{
	border:0px;
	width:80px;
	text-align:center;
	height:24px;
	color:#FFF;
	cursor:pointer;
	font-size:14px;
	line-height:24px;}
.pl-list{
	margin-top:20px;}
.pl-list{ margin-left:10px;}
.pl-pic{
	width:40px;
	margin-top:15px;}
.pl-word{
	width:550px;
	display:inline;
	margin-left:40px;}
.pllist-text{ margin-top:10px;}
.pllist-text textarea{
	width:548px;
	border:#CCC solid 1px;
	height:40px;
	overflow-y:hidden;}
.pl-listall{
	width:710px;}
.page-list{
	margin-top:20px;
	}
.page-list{
	text-align:center;}
.page-list span{
	padding:2px 7px 2px 7px;
	color:#FFF;
	height:16px;
	line-height:16px;
	 margin:0px 5px;
	}
.page-list a{
	background:#7F7D82;
	height:16px;
	line-height:16px;
	padding:2px 7px 2px 7px;
	margin:0px 5px;
	color:#FFF;}
.aboutactr{
	margin-top:10px;}
.aboutactr h2{ font-size:14px; margin-left:10px;}
.introduce1{
	width:243px;
	display:inline;
	margin-right:9px;}
.introduce2{
	width:243px;}
.intro-img{
	width:201px;
	padding:4px 16px 0px 16px;}
.intro-word,.intro-man{
	width:201px;
	margin:0px auto;
	margin-top:10px;
	}
.good-star{
	background:url(../images/xin.png) no-repeat 0px 0px;
	height:35px;
	width:35px;
    /* height:13px;
	width:15px;*/
	display:inline;
	margin-right:3px;
	cursor:pointer;}
.good-tl{
	width:15px;
	height:14px;
	cursor:pointer;
	background:url(../images/allbg2.png) no-repeat 0px -44px;}
.man-img{
	width:33px;
	position:relative;
	height:33px;}
.man-word{
	display:inline;
	width:153px;
	line-height:16px;
	margin-left:5px;}
.man-ceng1{
	position:absolute;
	left:-80px;
	top:32px;
	width:280px;
	padding:10px;
	display:none;
	background:#FFF;
	z-index:100;
	border:#CCC solid 1px;}
.ceng1-img{
	width:60px;
	float:left;}
.ceng1-word{
	float:left;
	display:inline;
	margin-left:5px;
	width:200px;
	line-height:18px;}
.ceng1-p span{ margin-right:3px;}
.ceng1-fx .mar5{ margin-left:8px; margin-right:2px;}
.ceng-admin{ margin-top:5px; line-height:18px;}
#footer{ margin-top:10px;}
/*动态*/
.dt-pinglun{
	padding:10px;
	background:#FFF;
	margin-top:5px;
	border:#CCC solid 1px;}
.dt-pinglun h3{
	display:block;
	font-size:16px;
	height:30px;
	line-height:30px;}
.good-dongtai{
	width:950px;
	margin:0px auto;
	margin-top:10px;}
.dt-plinput{
	border:#78BBE6 solid 2px;}
.dt-plinput textarea{
	overflow-y:hidden;
	border:0;
	padding:5px;
	float:left;
	width:634px;
	height:80px;}
.dt-plinput input{
	border:0;
	width:80px;
	float:right;
	color:#FFF;
	font-size:24px;
	text-align:center;
	font-weight:500;
	cursor:pointer;
	font-family:'Microsoft YaHei';
	height:90px;
	line-height:90px;}
.biaoqing,bq-list2{
	margin-top:10px;}
.biaoqing ul li{
	line-height:30px;
	height:30px;
	float:left;
	width:40px;
	position:relative;
	padding-left:20px;
	display:inline;
	margin-right:10px;
	}
.biaoqing ul li.smile-tp1{
	z-index:10;}
.biaoqing ul li a{
	cursor:pointer;}
#banner {
width:645px;
height:262px; overflow:hidden;
overflow:hidden;
position:relative; background:#FFFFFF;

}
#indexBanner {
width:645px;
height:362px;
}
#bannerInfo {
width:645px;
position:absolute;
bottom:0;
left:0;
z-index:100;
background:url(bannerInfoBg.png);
padding:10px 0;
color:#4D94C9;
}
#thumbnails {
height:46px;
margin-right:10px;
text-align: right;
}
#thumbnails img {
padding:1px;
border:1px solid #C1C5C8;
}
#thumbnails a.cur img {
border-color:#FC8806;
}
/**/
.good-dongtair{
	width:290px;
	float:right;
	padding-top:10px;
	background:#FFF;
	height:252px;}
.good-login{
	width:270px;
	background:url(../images/login-bg.gif) repeat-x;
	height:63px;
	overflow:hidden;
	margin:0px auto;}
.zhuce{
	float:left;
	margin-top:15px;
	width:100px;
	border-right:#CCC dotted 1px;
	display:inline;
	height:38px;
	line-height:38px;
	margin-left:15px;}
.other-login{
	width:110px;
	display:inline;
	float:left;
	font-family: 'Microsoft YaHei';
	margin-top:15px;
	margin-left:15px;}
.zhuce a{
	font-size:20px;
	font-family: 'Microsoft YaHei';
	font-weight:bold;}
.other-list a{
	margin-right:7px;
	float:left;
	margin-top:3px;
	display:inline-block;
	width:16px;
	height:16px;}
.other-list .other-bg1{
	background:url(../images/loginbg.png) no-repeat 0px 0px;}
.other-list .other-bg2{
	background:url(../images/loginbg.png) no-repeat 0px -17px;
	}
.other-list .other-bg3{
	background:url(../images/loginbg.png) no-repeat 0px -33px;
	}
.login-infor,.login-phone{
	width:270px;
	margin:0px auto;
	margin-top:10px;}
.login-phone{margin-top:5px;}
.login-infor ul li{
	border-bottom:#CCC solid 1px;
	height:28px;
	margin-bottom:7px;
	}
.login-img{
	display:inline;
	margin-right:10px;}
.login-word{
	width:130px;
	height:22px;
	line-height:22px;}
.login-word1{
	height:22px;
	line-height:22px;
	width:60px;
	text-align:center;
	color:#FFF;
	padding:0px 5px;}
.login-word2{
	width:260px;
	margin:0px auto;
	margin-top:5px;}
.login-word2 ul li{
	height:23px;
	background:url(../images/icons7.gif) no-repeat left center;
	line-height:23px;
	width:130px;
	float:left;}
.login-word2 ul li a{
	padding-left:10px;}
.good-list{
	width:970px;
	height:33px;
	padding:0px 10px;
	line-height:33px;
	border:#CCC solid 1px;
	margin:0px auto;
	background:#F6F6F6;
	margin-top:10px;}
.good-list ul li{
	float:left;
	display:inline;
	margin:0px 20px;
	font-size:14px;
	font-weight:bold;
	}
.pinglun-list{
	margin-top:7px;
	margin-bottom:15px;}
.pl-img{
	display:inline;
	margin-left:5px;
	width:76px;}
.pl-tera{
	width:610px;
	padding:20px;
	background:#FFF;}
.pl-tera h2{
	font-size:14px;}
.fayan-img{
	margin-top:15px;
	text-align:left;}
.major-cb{
	margin-top:10px;
	line-height:24px;}
.gray-xx{
	background:url(../images/allbg2.png) no-repeat 0px -98px;
	display:inline-block;
	width:15px;
	height:13px;}
.major-foot{ margin-top:10px;}
.major-foot a,.major-foot span{ margin-right:10px;}

/*添加头部样式*/
#alltop{
	position:fixed;
	top:0%;
	width:1001px;
	z-index:7000;}
*html,*html body{ background-attachment:fixed;}
* html #alltop /* IE6 底部固定  */{position:absolute;bottom:auto;top:expression(eval(document.documentElement.scrollTop))}

.biaoxing{
	width:600px;
	position:absolute;
	left:0px;
	top:20px;
	height:100px;}
.sanjiao{
	position:relative;
	top:1px;
	z-index:100;
	margin-left:25px;}
.biaoqing-w{
	background:#f8f8f8;
	position:relative;}
/*2yue6ri*/
#myTab2 li.active{
	background:#FFF;}
.guanbi{
	text-align:right;
	height:24px;
	position:absolute;
	right:10px;
	top:2px;
	line-height:24px;}
.guanbi span{
	cursor:pointer;
	margin-right:10px;}
.bq-list1{
	background:#FFF;
	display:none;
	padding-bottom:10px;}
.biaoxing .bq-list1 ul li{
	width:22px;
	height:22px;
	display:inline;
	margin-top:8px;
	margin-left:10px;
	padding-left:0px;
	line-height:22px;}
/*遮罩样式*/
.zhezhao{
	width:520px;
	position:absolute;
	z-index:8001;
	display:none;
	border:#78BBE6 3px solid;
	background:#FFF;}
.zhezhaobg{
	background:#ffffff;
	width:100%;
	display:none;
	left:0px;
	top:0px;
	height:100%;
	position:absolute;
	filter:alpha(opacity=70);-moz-opacity:0.7;-khtml-opacity:0.7;opacity:0.7;
	position:absolute;
	z-index:8000;
	}
.zz-content,.zz-content1,.zz-content2,.zz-content3{
	padding:20px;
	position:relative;}
.zz-close{
	text-align:right;
	height:24px;
	}
.zz-close span{
	cursor:pointer;}
.zz-content h4{
	height:24px;
	line-height:24px;}
.zz-tt1{
	margin-left:40px;}
.zz-input1{
	height:30px;
	width:480px;
	margin-top:10px;}
.zz-input2{
	border:0;
	height:28px;
	line-height:28px;
	width:420px;}
.zz-input3{
	width:60px;
	border:0;
	color:#FFF;
	font-size:14px;
	font-weight:bold;
	height:30px;
	line-height:30px;
	cursor:pointer;}
.shoplist ul li{
	float:left;
	display:inline;
	margin-right:5px;}
.shopsay-t{
	margin-top:20px;}
.shopsay-t ul li.sayimg{
	width:80px;
	float:left;
	height:80px;}
.shopsay-t ul li.sayword{
	width:380px;
	display:inline;
	margin-left:20px;}
.zz-text1{
	border:1px solid #CCC;
	width:368px;
	height:60px;
	overflow-y: hidden;
	background:none;}
.fabushop{
	margin:0px auto;
	margin-top:15px;
	width:100px;}
.zz-but1{
	border:0;
	width:100px;
	text-align:center;
	height:30px;
	line-height:30px;
	font-size:14px;
	font-weight:bold;
	color:#FFF;
	cursor:pointer;}
.zz-pinlun{
	height:60px;
	margin-top:10px;
	overflow:hidden;
	border-width:3px;}
.zz-text2{
	width:394px;
	border:0;
	float:left;
	background:none;
	overflow-y:hidden;
	height:60px;}
.zz-but2{
	border:0;
	width:80px;
	float:right;
	height:60px;
	font-family:'Microsoft YaHei';
	text-align:center;
	color:#FFF;
	font-size:18px;
	font-weight:bold;}
.zz-tanceng{
	position:relative;
	height:24px;
	margin-top:10px;}
.zz-tanceng span{
	cursor:pointer;
	line-height:24px;}
.zz-tclist{
	position:absolute;
	left:0px;
	top:20px;
	width:480px;
	z-index:9000;
	border:#CCC solid 1px;
	background:#FFF;
	display:none;}
.zz-tclist ul li{
	float:left;
	width:15px;
	height:15px;
	display:inline;
	margin:8px;}
.zz-shangc{
	height:30px;
	margin-top:10px;}
.zz-scbut{
	float:left;
	border:0;
	font-size:14px;
	font-weight:bold;
	color:#FFF;
	width:120px;
	cursor:pointer;
	height:30px;
	line-height:30px;}
.zz-shangc span{
	float:left;
	display:inline;
	margin-left:120px;
	height:30px;
	line-height:30px;
	font-weight:bold;
	font-size:14px;}
.zz-tcgb{
	text-align:right;
	height:24px;
	line-height:24px;}
.zz-tcgb span{
	cursor:pointer;
	margin-right:5px;}
.zz-scall{
	margin-top:10px;}
.zz-scall .zz-scimgl{
	width:190px;
	height:190px;
	border-width:3px;}
.zz-scwordr{
	width:240px;}
.zz-rinput{
	border-width:2px;
	height:24px;}
.zz-input4{
	height:22px;
	float:left;
	line-height:22px;
	border:0;
	width:180px;}
.zz-but3{
	height:24px;
	color:#FFF;
	font-size:14px;
	border:0;
	float:right;
	width:54px;
	font-weight:bold;
	cursor:pointer;
	text-align:center;
	line-height:24px;}
.ullist1 li{
	height:30px;}
.ullist1 li span{
	float:left;
	height:24px;
	line-height:24px;
	width:40px;
	font-size:12px;
	text-align:left;}
.ullist1 li input{
	height:22px;
	line-height:22px;
	width:140px;
	float:left;}
.xs-shop{
	width:80px;
	margin:0px auto;
	margin-top:10px;}
.xs-shop a{
	display:block;
	border:0;
	width:80px;
	height:24px;
	line-height:24px;
	color:#FFF;
	text-align:center;
	cursor:pointer;
	font-size:14px;
	font-weight:bold;}
.ullist2 li{
	margin-bottom:10px;
	display:inline;
	margin-right:10px;
	width:70px;
	float:left;
	height:70px;}




/* michael */
.hidden{
	display:none;
}
.getuserinfo{cursor:pointer;}
.boy,.GG{ color:#78BBE6;cursor:pointer;}
.girl,.MM{ color:#FC6B96;cursor:pointer;}
.nopeople,.NP{ color:orange;cursor:pointer;}
.islike{background-position:0 -35px;}


/* 表单尖角提示框 */
.cor,.cor1,.cor2,.cor-top1,.cor-top2{
    position:absolute;
}
.cor{
    display:none;
	border:2px solid lightblue;
    right:470px;
    padding:3px;
    background-color:#E6F5F2;
}
.cor1{
	right:-10px;
	top:2px;
	border-top:9px solid transparent !important;
	border-left:9px solid lightblue;
    border-right:0px;
	border-bottom:9px solid transparent !important;
}
.cor2{
	right:3px;
	top:-7px;
    height:0px;
	border-top:7px solid transparent !important;
	border-left:7px solid #E6F5F2;
    border-right:0px;
	border-bottom:7px solid transparent !important;
}

.cor-top1{  /* 用户信息提示框尖角（大） */
	left:3px;
	top:-9px;
    border-top:0px;
	border-right:9px solid transparent !important;
	border-left:9px solid transparent !important;
	border-bottom:9px solid #78BBE6;
}
.cor-top2{  /* 用户信息提示框尖角（小） */
	left:-7px;
	top:2px;
    border-top:0px;
	border-right:7px solid transparent !important;
	border-left:7px solid transparent !important;
	border-bottom:7px solid #fff;
}
/* 表单尖角提示框 end*/


/*下面的以后可能不用了
*{
    behavior: url(PIE.htc);
}*/

.menu ul li a, .zz-but1{
    border-radius:3px;-moz-border-radius:3px; -webkit-border-radius:3px;
}
.zhezhao{border-radius:15px;-moz-border-radius:15px; -webkit-border-radius:15px;}
.mainbar .spec a{border-radius:10px;-moz-border-radius:10px; -webkit-border-radius:10px}
.pagenavi a, .pagenavi .current{border-radius:5px;-moz-border-radius:5px; -webkit-border-radius:5px}

.sh{
    box-shadow: 0 0 25px rgba(81, 203, 238, 1);
    -webkit-box-shadow: 0 0 35px rgba(81, 203, 238, 1);
    -moz-box-shadow: 0 0 45px rgba(81, 203, 238, 1);
}
/* michael */
