@charset "utf-8";
/* CSS Document */
.red{ color:#F00;}
.over-hidden{ overflow:hidden;}
/*注册*/
p {
    line-height: 18px;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.reg_sign {
    height: 100%;
	width:900px;
	margin:30px auto;
    position: relative;
}
.reg_sign .thirdPart, .reg_sign .qplus_login {
    color: #999999;
    float: left;
    font-size: 16px;
    height: 100%;
    padding: 130px 0 0 100px;
    width: 280px;
}
.thirdPart .isina {
    background-position: -90px -10px;
}
.thirdPart a {
    background: url(../images/regNew_Btn.png) no-repeat scroll -3px -68px transparent;
    border: 1px solid #E6F5F2;
    display: inline-block;
    font-size: 0;
    height: 60px;
    line-height: 0;
    margin: 10px 0 0;
    padding: 0;
    text-indent: -999px;
    vertical-align: middle;
    width: 60px;
}
.thirdPart .iqq {
    background-position: -152px -10px;
}
.thirdPart .itengxun {
    background-position: -215px -10px;
}
.thirdPart a:hover {
    background-color: #EDF9F7;
    border: 1px solid #B9DEDC;
    border-radius: 5px 5px 5px 5px;
}
#signup_form_main, .loginForm {
    background: none repeat scroll 0 0 #F9F9F5;
    padding: 70px 58px 85px;
	border:0;
    width: 401px;
	float: left;
}
fieldset, img {
    border: 0 none;
}
.reg_sign input.input1 {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E3E3E3;
    border-radius: 3px 3px 3px 3px;
    color: #CCCCCC;
    height: 18px;
    line-height: 18px;
    margin-bottom: 8px;
    padding: 10px 0 10px 8px;
    width: 392px;
}
input {
    padding-left: 8px;
	color:#666;
}
.user_sub {
    color: #999999;
    font-size: 14px;
    height: 43px;
    line-height: 43px;
    position: relative;
    text-align: left;
}
.reg_sign .regBtn {
    background: url(../images/regNew_Btn.png) repeat scroll -6px -87px transparent;
    border: 0 none;
    box-shadow: none;
    color: #666666;
    cursor: pointer;
    display: inline-block;
    font-size: 0;
    height: 42px;
    line-height: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    text-align: center;
    text-indent: -999px;
    width: 143px;
}

.reg_sign .regBtn:active {
    background-position: -6px -133px;
}
.login-sex{
	margin:10px 5px;}
.login-sex input{ margin:0px 10px;}
.user_sub a {
    color: #3399CC;
    text-decoration: underline;
}
.diqu{
	margin:8px 5px;}
.diqu select{  color: #CCCCCC; height:24px; line-height:24px; padding:2px; margin:0px 5px;border: 1px solid #E3E3E3;}
/*修改资料*/
.ziliao-l{
	display:inline;
	width:150px;
	overflow:hidden;
	margin:10px 0px;
	margin-left:15px;}
.ziliao-r{
	width:750px;
	margin:10px 0px;
	margin-right:10px;
	display:inline;}
.ziliao-l ul li{
	height:30px;
	font-weight:bold;
	margin-bottom:5px;
	text-align:center;
	line-height:30px;}
.ziliao-l ul li a.bluebg{
	display:block;
	color:#FFF;
	font-size:12px;}
.blue-borderl{
	border-right:#78BBE6 solid 3px;}
.input2{
	width:200px;}
.ziliaor1 font{ padding:0px 5px;}
.ziliaor1,.ziliaor2,.ziliaor3,.ziliaor4,.ziliaor5,.ziliaor6{
	margin-top:15px;}
.ziliaor3 input{ margin:0px 5px;}
.ziliaor4 select{ margin:0px 5px;}
.input3{ width:90px; line-height:24px; height:24px; margin-right:5px;}
.input4{ width:50px; margin-right:5px;}
.input2,input3,.input4{
	border:#CCC solid 1px;
	line-height:24px;
	height:24px;}
.geren-word{
	margin-top:5px;
	height:23px;
	margin-left:60px;
	line-height:23px;}
.geren-word span{ margin-right:10px;}
.textarea1{
	width:500px;
	height:100px;}
.input5{
	border:0;
	padding:3px 10px;
	cursor:pointer;
	font-size:14px;
	font-weight:bold;
	color:#FFF;
	margin-left:60px;
	}
.update-l{
	width:280px;}
.update-big{
	width:280px;
	padding:1px;
	border:#CCC dotted 1px;
	height:275px;}
.update-r{
	width:450px;}
.update-img{
	background:#FFFEEF;
	width:193px;
	height:193px;
	margin-top:10px;}
.update-word{
	margin-top:10px;
	line-height:24px;}
.update-btn{
	margin-top:10px;}
.update-btn input{
	border:0;
	padding:3px 10px;
	font-size:12px;
	color:#FFF;
	cursor:pointer;
	}
.line24{
	line-height:24px;
	margin-top:5px;}
.baocun{
	padding-top:15px;
	margin-top:15px;
	border-top:#CCC solid 1px;
	text-align:center;
	}
input.baocuninput{
	border:0;
	padding:5px 0px;
	font-size:14px;
	font-weight:bold;
	color:#FFF;
	width:120px;
	margin:0px auto;
	cursor:pointer;
	}
.pass-c1{
	margin-left:100px;
	margin-top:10px;}
.pass-width{
	width:200px;
	line-height:24px;
	height:24px;
	margin-left:10px;
	border:#CCC solid 1px;}
.isina {
    background: url(../images/settingIcos.png) no-repeat scroll 0 -176px transparent;
    height: 35px;
    line-height: 35px;
    padding-left: 50px;
    vertical-align: middle;
}
.setting .user_set p {
    margin: 5px 10px;
}
.isina a,.itengxun a {
    background: url(../images/application.png) no-repeat scroll -1px -27px transparent;
    display: inline-block;
    font-size: 0;
    height: 25px;
    line-height: 0;
    margin: 0 15px;
    text-indent: -999px;
    vertical-align: middle;
    width: 65px;
}
.itengxun {
    background: url(../images/settingIcos.png) no-repeat scroll 0 -215px transparent;
    height: 35px;
    line-height: 35px;
    padding-left: 50px;
    vertical-align: middle;
}
.iqq {
    background: url(../images/application.png) no-repeat scroll 0 -72px transparent;
    height: 35px;
    line-height: 35px;
    padding-left: 50px;
    vertical-align: middle;
}

a.cancel {
    background: url(../images/application.png) no-repeat scroll -1px -3px transparent;
    display: inline-block;
    font-size: 0;
    height: 25px;
    line-height: 0;
    margin: 0 15px;
    text-indent: -999px;
    vertical-align: middle;
    width: 65px;
}
.isina,.itengxun,.iqq{ margin-top:10px; margin-left:240px;}
.sixin-list li{
	margin-bottom:20px;}
.sixin-l{
	width:50px;}
.sixin-r{
	width:620px;
	display:inline;
	background:#FFF;
	margin-left:20px;
	border:#CCC solid 1px;
	padding:10px;}
.height24{
	line-height:24px;
	height:24px;}
.martop5{ margin-top:5px;}
.person-pl{
	margin:10px 0px;}
.person-img{
	width:75px;}
.person-word{
	width:500px;
	line-height:18px;
	display:inline;
	margin-left:10px;}
.guanbi{
	margin-top:7px;
	cursor:pointer;
	margin-left:15px;}
.liuyan{
	margin-top:10px;}
.textarea-a{
	overflow-y:hidden;
	border:#CCC solid 1px;
	height:50px;
	width:500px;}
.queding{
	margin-top:10px;}
.queding input.input6{
	width:60px;
	height:24px;
	color:#FFF;
	text-align:center;
	padding-left:0;
	cursor:pointer;
	font-size:12px;
	line-height:24px;
	margin:0px 10px;
	border:0;}
.send-r{
	margin:10px auto;
	height:30px;
	position:relative;}
.send-r .sixin-a{
	border:#CCC solid 1px;
	background:#F3F3F3;
	width:50px;
	cursor:pointer;
	height:24px;
	text-align:center;
	line-height:24px;
	float:right;}
.sixin-ceng{
	padding:10px;
	}
.sixin-p{
	text-align:right;}
.sendwho{
	margin:10px 0px;}
.sendwho input{
	height:24px;
	line-height:24px;
	width:290px;
	border:#CCC solid 1px;}
.sendcontent textarea{
	width:360px;
	overflow-y:hidden;
	margin-left:60px;
	height:80px;}
.sendbut{
	height:30px;
	margin-left:60px;
	margin-top:10px;}
.sendbut input{
	color:#FFF;
	padding:3px 6px;
	cursor:pointer;}