ul.pages {
display:block;
border:none;
text-transform:uppercase;
font-size:10px;
float:right;
padding:0;
}

ul.pages li {
list-style:none;
float:left;
border:1px solid #ccc;
text-decoration:none;
margin:0 2px 0 0;
padding:2px;
}

ul.pages li:hover {
border:1px solid #003f7e;
}

ul.pages li.pgEmpty {
border:1px solid #eee;
color:#eee;
}

ul.pages li.pgCurrent {
border:1px solid #003f7e;
color:#000;
font-weight:700;
background-color:#eee;
}