{!config_load file="web.inc.conf"!}
{!include file="inc/header.tpl"!}

{!include file="inc/other.tpl"!}

<!--弹出层开始-->
<div class="zhezhaobg"></div>
<div class="zhezhao">
<div class="sixin-ceng">
<p class="sixin-p"><a href="javascript:void(0)">关闭</a></p>
<div class="clear"></div>
<div class="sendwho">发私信给：<input name="" type="text" /></div>
<div class="sendcontent"><textarea name="" cols="" rows=""></textarea></div>
<div class="sendbut"><input class="bluebg blue-border" name="" value="发私信" type="button" /></div>
</div>
</div>
<!--弹出层结束-->

<!-- <div class="banner in-width1">
<img src="{!#img_path#!}banner1.jpg" height="301" width="955" border="0" />
</div> -->
<div class="footbg in-width"></div>
</div>
<!--top end-->

<!--content begin-->
<div id="content">
<div class="topbg"></div>
<div class="content1-m middlebg clearfix">
<div class="ziliao-l blue-borderl fl">
<ul>
<li><a href="">通知（就是系统消息）</a></li>
<li><a href="{!#weburl#!}pmsg">私信</a></li>
<li><a href="">评论</a></li>
<li><a href="{!#weburl#!}atme" class="bluebg">@我的</a></li>
</ul>
</div>
<div class="ziliao-r fr">
<div class="send-r">
<div class="blue sixin-a">发私信</div>

</div>

<ul class="sixin-list">
{!foreach key=key item=at from=$atList!}
    <li>
        <div class="sixin-l fl"><a href=""><img src="{!#img_path#!}pic25.jpg" height="50" width="50" border="0" /></a></div>
        <div class="sixin-r fl">
        <p><font class="blue getuserinfo" rel="{!$at.uid!}">{!$at.nick!}</font>：{!$at.content!}</p>
        <p class="height24 martop5 pl-liuyan"><span class="fl">{!$at.time!}</span><a class="fr huifu" href="javascript:void(0)">回复</a></p>
        <div class="liuyan" style="display:none;">
        <p><textarea class="textarea-a" name="" cols="" rows=""></textarea></p>
        <p class="queding"><input class="input6 bluebg" value="确定" name="" type="button" /><input class="input6 bluebg" value="取消" name="" type="button" /></p>
        </div>
        </div>
        <div class="clear"></div>
    </li>
{!/foreach!}
</ul>

<div class="page-list">
    {!$pageStr!}
</div>

</div>
</div>
<div class="footbg"></div>
</div>
<!--content end-->
<!--footer begin-->
{!include file="inc/footer.tpl"!}
<!--footer end-->
</body>
</html>