{!config_load file="web.inc.conf"!}
{!include file="inc/header.tpl"!}
<link href="{!#css_path#!}login.css" rel="stylesheet" type="text/css" />

<div class="clear"></div>
<div class="banner in-width1">
<img src="images/banner1.jpg"  height="301" width="955" border="0" />
</div>
<div class="footbg in-width"></div>
</div>
<!--top end-->

<!--content begin-->
<div id="content">
<div class="topbg"></div>
<div class="content1-m middlebg clearfix">
<div class="ziliao-l blue-borderl fl">
<ul>
<li><a href="">基本资料</a></li>
<li><a href="">修改头像</a></li>
<li><a href="">修改密码</a></li>
<li><a class="bluebg" href="">应用授权</a></li>
<li><a href="">买件认证</a></li>
<li><a href="">手机认证</a></li>
</ul>
</div>
<div class="ziliao-r fr">
<p class="isina">授权新浪微博帐号:<a href="/auth/request/sina_weibo/">授权</a></p>
<p class="itengxun">授权腾讯微博帐号:<a href="/auth/request/qq_weibo/">授权</a></p>
<p class="iqq">授权腾讯QQ帐号:<a style="margin-left:25px;" href="/auth/unbind/qzone/" class="cancel">取消授权</a> </p>
<div class="baocun"><input value="保持设置" class="baocuninput bluebg" name="" type="button" /></div>
</div>
</div>
<div class="footbg"></div>
</div>
<!--content end-->

<!--footer begin-->
{!include file="inc/footer.tpl"!}
<!--footer end-->
</body>
</html>