{!config_load file="web.inc.conf"!}
{!include file="inc/header.tpl"!}

<!--
<div class="banner in-width1">
<img src="images/banner1.jpg" height="301" width="955" border="0" />
</div> -->
<div class="footbg in-width"></div>
</div>
<!--top end-->

{!include file="inc/usercenter_menu.tpl"!}

<!--content begin-->
<div id="content">
<!--clearfix begin-->
<div class="clearfix">
<div class="good-left fl">



<!-- 发布test -->
    <div class="dt-pinglun">
        <div id='test1'>

            <!-- 动态 -->
            <div id="shuoshuo">
                <form method="post" action="{!#web_path#!}writed">
                    <h3>点滴梦想，发现最美自己</h3>
                    <div class="dt-plinput clearfix">
                        <textarea name="dynamic" cols="" rows=""></textarea><input class="bluebg" value="发布" name="submit" type="submit" />
                    </div>
                </form>
            </div>
            <!-- 动态 end -->


            <!-- 发布商品框 -->
            <div id="shangping" class="hidden">

                <div class="zz-content">

                    <div id="goods_add_btn">
                        <h4 class="zz-tt1">将商品地址粘贴到下面框中即可</h4>
                        <div class="zz-input1 blue-border">
                            <input class="zz-input2" type="text" id='goodsurl'/><input class="zz-input3 bluebg" type="button" value="确定" id="addgoods" onclick="getgoods('goodsurl','goodsimg','goods');"/>
                        </div>

                        <p class="line24 martop10"><b>已支持以下网站（商家申请加入）test</b></p>
                        <div class="shoplist clearfix">
                            <ul>
                            <li><a href="http://taobao.com" target="__blank">淘宝</a></li>
                            <li><a href="">拍拍</a></li>
                            <li><a href="">当当</a></li>
                            <li><a href="">凡客</a></li>
                            <li><a href="">京东</a></li>
                            <li><a href="">Topshop</a></li>
                            </ul>
                        </div>
                    </div>


                    <div class="shopsay-t clearfix hidden" id="goods_infos">
                        <form method="post" action="{!#weburl#!}insgoods">
                            <ul>
                                <li class="sayimg blue-border">
                                    <img src="#" height="80" width="80" id="goodsimg"/>
                                </li>
                                <li>写点商品介绍吧！</li>
                                <li class="sayword"> 
                                    <textarea class="zz-text1" name="goods_info" cols="" rows=""></textarea>
                                </li>

                                <span id="goods"></span><!-- 这里存放api获取的商品的信息 -->
                                <input type="text" id="times" name=""/><!-- 测试时间 测试商品抓取的时间 -->
                                
                            </ul>

                            <input class="zz-but1 bluebg"  value="发布商品" type='submit' />
                        </form>
                    </div>

                </div>

            </div>
            <!-- 发布商品框 end -->


            <!-- 这个位置放置商品的图片的缩略图 ， 获取的商品图片== -->

        </div>

        <div class="biaoqing clearfix" id="biaoqin">
        <!-- 表情 -->
            <ul class="bq-list2">
            <li class="smile-tp1"><a>表情</a>
                <div class="biaoxing" style="display:none;">
                    <div class="sanjiao"><img src="{#img_path#}tancengbg1.gif" height="7" width="11" border="0" /></div>
                <div class="blue-border biaoqing-w">
                <div class="guanbi"><span>关闭</span></div>
                <ul id="myTab2">
                <li class="active" onclick="nTabs(this,0);"><a href="javascript:void(0)">默认</a></li>
                <li class="normal" onclick="nTabs(this,1);"><a href="javascript:void(0)">心情</a></li>
                <li class="normal" onclick="nTabs(this,2);"><a href="javascript:void(0)">休闲</a></li>
                <li class="normal" onclick="nTabs(this,3);"><a href="javascript:void(0)">搞怪</a></li>
                </ul>
                <div class="clear"></div>
                <div id="myTab2_Content0" class="bq-list1" style="display:block;">
                    {!include file='inc/smileys.tpl'!}

                </div>
                </div>
                </div>
            </li>

            <li class="smile-tp4"><input type="file" value="图片"/></li>
            
            </ul>
        <!-- 表情 -->
        </div>


    </div>
<!-- 发布test end -->

<div class="dt-pinglun">

    <h3>点滴梦想，发现最美自己</h3>
    <div class="dt-plinput clearfix">
        <form method="post" action="{!#web_path#!}writed">
            <textarea name="dynamic" cols="" rows=""></textarea><input class="bluebg" value="发布" name="submit" type="submit" />
        </form>
    </div>

<div class="biaoqing clearfix">
<!-- 表情 -->
    <ul class="bq-list2">
    <li class="smile-tp1"><a>表情</a>
        <div class="biaoxing" style="display:none;">
            <div class="sanjiao"><img src="{#img_path#}tancengbg1.gif" height="7" width="11" border="0" /></div>
        <div class="blue-border biaoqing-w">
        <div class="guanbi"><span>关闭</span></div>
        <ul id="myTab2">
        <li class="active" onclick="nTabs(this,0);"><a href="javascript:void(0)">默认</a></li>
        <li class="normal" onclick="nTabs(this,1);"><a href="javascript:void(0)">心情</a></li>
        <li class="normal" onclick="nTabs(this,2);"><a href="javascript:void(0)">休闲</a></li>
        <li class="normal" onclick="nTabs(this,3);"><a href="javascript:void(0)">搞怪</a></li>
        </ul>
        <div class="clear"></div>
        <div id="myTab2_Content0" class="bq-list1" style="display:block;">
            {!include file='inc/smileys.tpl'!}

            <!-- <ul>
            <li><a href=""><img src="images/biaoqing1.gif" height="21" width="21" border="0" /></a></li>
            <li><a href=""><img src="images/biaoqing1.gif" height="21" width="21" border="0" /></a></li>
            <li><a href=""><img src="images/biaoqing1.gif" height="21" width="21" border="0" /></a></li>
            </ul> 
            <div class="clear"></div>-->
        </div>
        <!-- <div id="myTab2_Content1" class="bq-list1">
        <ul>
        <li><a href=""><img src="images/biaoqing1.gif" height="21" width="21" border="0" /></a></li>
        <li><a href=""><img src="images/biaoqing1.gif" height="21" width="21" border="0" /></a></li>
        <li><a href=""><img src="images/biaoqing1.gif" height="21" width="21" border="0" /></a></li>
        </ul>
        <div class="clear"></div>
        </div>
        <div id="myTab2_Content2" class="bq-list1">
        <ul>
        <li><a href=""><img src="images/biaoqing1.gif" height="21" width="21" border="0" /></a></li>
        <li><a href=""><img src="images/biaoqing1.gif" height="21" width="21" border="0" /></a></li>
        <li><a href=""><img src="images/biaoqing1.gif" height="21" width="21" border="0" /></a></li>
        </ul>
        <div class="clear"></div>
        </div>
        <div id="myTab2_Content3" class="bq-list1">
        <ul>
        <li><a href=""><img src="images/biaoqing1.gif" height="21" width="21" border="0" /></a></li>
        <li><a href=""><img src="images/biaoqing1.gif" height="21" width="21" border="0" /></a></li>
        <li><a href=""><img src="images/biaoqing1.gif" height="21" width="21" border="0" /></a></li>
        </ul>
        <div class="clear"></div>
        </div> -->
        </div>
        </div>
    </li>
    <li class="smile-tp2"><a href="javascript:void(0)">宝贝</a></li>
    <li class="smile-tp3"><a href="javascript:void(0)">晒货</a></li>
    <li class="smile-tp4"><a href="">搭配</a></li>

    <li class="smile-tp4"><input type="file" value="图片"/></li>
    
    </ul>
<!-- 表情 -->
</div>
</div>

<!--评论列表-->
{!foreach key=k item=d from=$dynamic!}
<div class="pinglun-list clearfix">

    <div class="pl-img fl"><img src="{!$head_img!}" height="76" width="76" border="0" /></div>
    <div class="pl-tera fr">
        <h2>{!$d.uid!}</h2>
        
        <div class="major-cb">
            <p>{!$d.content!}</p>
        </div>
        {!if isset($d.img)!}
            {!foreach key=i item=img from=$d.img!}
                <p class="fayan-img"><img src="{!$img!}" height="368" width="540" border="0"/></p>
            {!/foreach!}
        {!/if!}
        <div class="major-foot">
            <span class="fl">#推荐标签</span><a class="gray-xx fr" href=""></a><a class="fr" href="">转载({!$d.zf_num!})</a><a class="fr" href="">回应({!$d.comment_num!})</a>
        </div>
    </div>
</div>
{!/foreach!}

<div class="page-list"><span class="bluebg">1</span><a href="">2</a><a href="">3</a><a href="">4</a><a href="">下一页></a></div>
<!--评论列表结束-->

</div>

<!-- 
<div class="good-right fr">
    <div class="good-top1"></div>
    <div class="good-lc2 padding10">
        <p class="beaut-pic"><img src="images/pic19.jpg" border="0" /></p>
        <div class="clearfix">
            <ul class="beaut-name">
                <li class="admin-img"><img src="images/icons1.gif" height="16" width="16" border="0" /></li>
                <li>{!$userInfo.nick!}</li>
                <li class="admin-img"><img src="images/icons2.gif" height="22" width="21" border="0" /></li>
            </ul>
        </div>
        <div class="clearfix">
            <ul class="beaut-gz">
                <li>分享<br /><font class="blue">{!$userInfo.nick!}</font></li>
                <li>粉丝<br /><font class="blue">{!$userInfo.nick!}</font></li>
                <li>关注<br /><font class="blue">{!$userInfo.nick!}</font></li>
                <li class="noborder"><p class="img-line"><img src="images/icons5.gif" height="13" width="16" border="0" /></p><p class="blue">2222</p></li>
            </ul>
        </div>
        <div class="add-guanz clearfix">
            <a class="fl bluebg" href="">＋加关注</a>
            <a class="fr" href="">发私信</a>
        </div>
        <p class="bluebg gowhere"><a href="">他的美丽空间</a></p>
    </div>
    <div class="good-foot1"></div>
</div> -->
<style>
.s{
    margin:0px 0px 10px 10px;
    height:105px;
    width:107px;
    float:left;
    background-color:#EA6E25;
}
.g{
    margin:5px 0px 10px 10px;
    float:left;
    height:105px;
    width:224px;
    background-color:#78BBE6;
}
</style>

<script type="text/javascript">
$(function () {
    $('#fabu_goods').click(function () {
        //'<div class="zz-content"><h4>有什么想说的</h4><div class="zz-close"><span>关闭</span></div><form method="post" action="{!#weburl#!}insgoods"><h4 class="zz-tt1">将商品地址粘贴到下面框中即可</h4><div class="zz-input1 blue-border"><input class="zz-input2" type="text" id="goodsurl"/><input class="zz-input3 bluebg" type="button" value="确定" id="addgoods" onclick="getgoods("goodsurl","goodsimg","goods");"/></div><p class="line24 martop10"><b>已支持以下网站（商家申请加入）</b></p><div class="shoplist clearfix"><ul><li><a href="">淘宝</a></li><li><a href="">拍拍</a></li><li><a href="">当当</a></li><li><a href="">凡客</a></li><li><a href="">京东</a></li><li><a href="">Topshop</a></li></ul></div><div class="shopsay-t clearfix hidden"><ul><li class="sayimg blue-border"><img src="images/pic6.jpg" height="80" width="80"/><span id="goodsimg"></span></li><li class="sayword"><textarea class="zz-text1" name="goods_info" cols="" rows=""></textarea></li><span id="goods"></span><input type="text" id="times" name=""/></ul></div><div class="fabushop hidden"><input class="zz-but1 bluebg"  value="发布商品" type="submit" /></div></form></div>';

        $('#shangping').show().siblings().hide();
        $('#biaoqin').hide();
//        var h = $('#shangping').html();
//        $('#test1').html(h);
//        $('#biaoqin').hide();

//        $('#goods_infos').css('display','none');
    });
    $('#fabu_dongtai').click(function () {
            
        //var h = '<h3>点滴梦想，发现最美自己</h3><div class="dt-plinput clearfix"><textarea name="dynamic" cols="" rows=""></textarea><input class="bluebg" value="发布" name="submit" type="submit" /></div>';
//        var h = $('#shuoshuo').html();
//        $('#test1').html(h);
//
//        $('#goods_infos').css('display','none');
        //$('#biaoqin').hide();
        $('#shuoshuo').show().siblings().hide();
        $('#biaoqin').show();
    });

});
</script>

<div id="">
    <div class="g" id="fabu_goods">发布商品</div> 
    <div class="s" id="fabu_dongtai">说说，发动态</div> 
    <div class="s" id="fabu_show">晒货</div> 
</div>

<!-- 用户信息框 -->
    {!include file="inc/userinfo.tpl"!}
<!-- 用户信息框 -->

</div>
<!--clearfixr end-->
<!--相关文章推荐-->

</div>
<!--相关文章推荐结束-->
</div>
<!--content end-->
<!--footer begin-->
{!include file="inc/footer.tpl"!}
<!--footer end-->

<script type="text/javascript">
$(function () {});
//上传图片  form1 上传的表单    up_img 最加img标签展示图片的  img_num 上传图片的数量  goods_img_num  商品的图片的数量
function uploadimg(form1,up_img,img_num,goods_img_num) {
    $('#'+form1).submit();
    var imgpath = setInterval(function() {
        var f = document.getElementById("iframeid").contentWindow.document.body.innerHTML;
        if (f != '') {
            clearInterval(imgpath);
            alert(f);
            $('#'+up_img).append('<img src="'+f+'" width="200" height="200"/>');
            document.getElementById("iframeid").contentWindow.document.body.innerHTML = '';
            var num = eval($('#'+img_num).val())+1;
            $('#'+img_num+',#'+goods_img_num).val(num);

        }
    },100);
}

//缓存商品的个数
$('body').data('goods_num',1);


//1, goodsurl   商品url    2, goodsimg  商品图片展示的地方      3， goods  商品信息展示的地方
function getgoods(goodsurl, goodsimg, goods) {

    //js处理获取商品
    var goodsurl = $('#'+goodsurl).val();

    $.post(global.weburl+'getgoods?'+new Date().getTime(),{'goodsurl':goodsurl},function(msg) {

//        alert(msg);

        var gn = $('body').data('goods_num');
        //$('#'+goodsimg).append('<img src="'+msg.resize_img+'" width="200" height="200">');
        $('#'+goodsimg).attr('src', msg.resize_img);
//            $('#goodsimg').attr('src',msg.pic_url);

        //数据
        $('#'+goods).append('<input type="text" id="goods_id" name="numiid_'+gn+'" value="'+msg.num_iid+'"/><input type="text" id="goods_time" name="datetime_'+gn+'" value="'+msg.datetime+'"/><input type="text" id="goods_cid" name="cid_'+gn+'" value="'+msg.cid+'"/><input type="text" id="goods_title" name="title_'+gn+'" value="'+msg.title+'"/><input type="text" id="goods_price" name="price_'+gn+'" value="'+msg.price+'"/><input type="text" id="goods_url" name="url_'+gn+'" value="'+msg.click_url+'"/><input type="text" id="goods_detail_url" name="detail_url_'+gn+'" value="'+msg.detail_url+'"/>');

        $('#goods_add_btn').css('display','none');//将填写商品url的框隐藏
        $('#goods_infos,#biaoqin').css('display','block');//将获取的商品信息的显示

        //搭配的商品个数
        var n = eval(gn)+1;
        $('body').data('goods_num',n);
        $('#da_goods_num').val(n);

        //测试时间      
        $('#times').val(msg.test_time);

    },'json'); //
}
</script>

<!--遮罩层开始-->
<iframe name="upload" style="display:none;" id="iframeid"></iframe>

<div class="zhezhaobg"></div>
<div class="zhezhao">

<!--宝贝开始--> 
<!-- 
<div class="zz-content">
<h4>有什么想说的</h4><div class="zz-close"><span>关闭</span></div>

<form method="post" action="{!#weburl#!}insgoods">

<h4 class="zz-tt1">将商品地址粘贴到下面框中即可</h4>
<div class="zz-input1 blue-border"><input class="zz-input2" type="text" id='goodsurl'/><input class="zz-input3 bluebg" type="button" value="确定" id="addgoods" onclick="getgoods('goodsurl','goodsimg','goods');"/></div>
<p class="line24 martop10"><b>已支持以下网站（商家申请加入）</b></p>
<div class="shoplist clearfix">
<ul>
<li><a href="">淘宝</a></li>
<li><a href="">拍拍</a></li>
<li><a href="">当当</a></li>
<li><a href="">凡客</a></li>
<li><a href="">京东</a></li>
<li><a href="">Topshop</a></li>
</ul>
</div>
    <div class="shopsay-t clearfix hidden">
    <ul>
        <li class="sayimg blue-border">
            <img src="images/pic6.jpg" height="80" width="80"/><span id="goodsimg"></span>
        </li>
        <li class="sayword">
            <textarea class="zz-text1" name="goods_info" cols="" rows=""></textarea>
        </li>
        <span id="goods"></span>
       
        <input type="text" id="goods_id" name="numiid"/>
        <input type="text" id="goods_time" name="datetime"/>
        <input type="text" id="goods_cid" name="cid"/>
        <input type="text" id="goods_title" name="title"/>
        <input type="text" id="goods_price" name="price"/>
        <input type="text" id="goods_url" name="url"/>
        <input type="text" id="goods_addtime" name="datetime"/>
        <input type="text" id="goods_detail_url" name="detail_url"/>
         -->

       <!--  <input type="text" id="times" name=""/>测试时间 测试商品抓取的时间 -->
 <!--      </ul>
  
    </div>
   
    <div class="shopsay-t clearfix">
    <ul>
    <li class="sayimg blue-border"><img src="images/pic6.jpg" height="80" width="80" /></li>
    <li class="sayword"><textarea class="zz-text1" name="" cols="" rows=""></textarea></li>
    </ul>
    </div>
    
    <div class="fabushop hidden"><input class="zz-but1 bluebg" value="发布商品" type='submit' /></div>
</form>
</div>
-->
<!--宝贝结束-->

<!--晒货开始-->
<div class="zz-content1" style="display:block;">
<div class="zz-close"><span>关闭</span></div>
<h4>晒货晒时尚</h4>

<!--  -->
<form method="post" action="{!#weburl#!}uploads" enctype="multipart/form-data" id="form_img" target="upload" >
    <div class="zz-shangc">
        <input class="zz-scbut bluebg" type="file" value="上传货物图片" id='file_img' name="fileimg" onchange="uploadimg('form_img','upload_img','img_num','s_img_num');"/>
        <span>商品网址</span>
    </div>
    <!-- hidden -->
    <input type="hidden" id="img_num" name="img_num" value='0'/>
    <input type="hidden" id="show_img_date" name="show_img_date" value='{!$img_date!}'/>
    <!-- hidden -->
</form>
<!--  -->

<form method="post" action="{!#weburl#!}insshow">
  <!-- show 输入框 -->
<div id="input_show">
    <div class="zz-pinlun blue-border">
        <textarea class="zz-text2" name="show_info" cols="" rows=""></textarea><input class="bluebg zz-but2" value="晒货" name="submit" type="submit" />
    <div class="clear"></div>
    </div>

    <div class="zz-tanceng"><span>表情</span>
        <div class="zz-tclist">
            <p class="zz-tcgb"><span>关闭</span></p>
            <ul>
            <li><a href=""><img src="images/biaoqing1.gif" height="15" width="15" border="0" /></a></li>
            <li><a href=""><img src="images/biaoqing1.gif" height="15" width="15" border="0" /></a></li>
            <li><a href=""><img src="images/biaoqing1.gif" height="15" width="15" border="0" /></a></li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>

</div>
  <!-- show 输入框 end -->

<div class="zz-scall clearfix">
    <div class="zz-scimgl blue-border fl" id="upload_img"></div>
    <!-- hidden -->
    <input type="hidden" id="s_img_date" name="s_img_date" value='{!$img_date!}'/>
    <input type="hidden" id="s_img_num" name="s_img_num" value='0'/>
    <!-- hidden -->

    <div class="zz-scwordr fr">
        <div class="zz-rinput blue-border">
            <input class="zz-input4" name="" type="text" id="show_goods_url"/><input name="" class="zz-but3 bluebg" type="button" value="确定" onclick="getgoods('show_goods_url','show_goods_img','show_goods');"/>
            <span id="show_goods"></span>
        </div>
        <div class="zz-scimgl blue-border martop10"><span id="show_goods_img"></span></div>
    </div>
</div>

</form>
</div>
<!--晒货结束-->

<!--搭配开始-->
    <!--1-->
<div class="zz-content2">

    <div class="zz-shangc">
        <!--  -->
        <form method="post" action="{!#weburl#!}uploads" enctype="multipart/form-data" id="da_form_img" target="upload" >
            <div class="zz-shangc">
                <input class="zz-scbut bluebg" type="file" value="上传搭配图片" id='' name="fileimg" onchange="uploadimg('da_form_img','da_up_img','da_img_num','d_img_num');"/>
                <span>将商品链接输入以下框中</span>
            </div>
            <!-- hidden -->
            <input type="hidden" id="d_img_num" name="d_img_num" value='0'/>
            <input type="hidden" id="d_img_date" name="d_img_date" value='{!$img_date!}'/>
            <!-- hidden -->
        </form>
        <!--  -->
    </div>

    <div class="zz-close"><span>关闭</span></div>
    <h4>搭配秀</h4>

<form method="post" action="{!#weburl#!}insda">

    <div class="zz-pinlun blue-border">
        <textarea class="zz-text2" name="da_info" cols="" rows=""></textarea>
        <input class="bluebg zz-but2" value="晒搭配" name="da" type="submit" />
        <div class="clear"></div>
    </div>
    <div class="zz-tanceng"><span>表情</span>
        <div class="zz-tclist">
            <p class="zz-tcgb"><span>关闭</span></p>
            <ul>
            <li><a href=""><img src="images/biaoqing1.gif" height="15" width="15" border="0" /></a></li>
            <li><a href=""><img src="images/biaoqing1.gif" height="15" width="15" border="0" /></a></li>
            <li><a href=""><img src="images/biaoqing1.gif" height="15" width="15" border="0" /></a></li>
            </ul>
        <div class="clear"></div>
        </div>
    </div>

    <div class="zz-scall clearfix">
        <div class="zz-scimgl blue-border fl" id="da_up_img"></div>
        <!-- hidden -->
        <input type="hidden" id="da_img_num" name="da_img_num" value='0'/>
        <input type="hidden" id="da_img_date" name="da_img_date" value='{!$img_date!}'/>
        <!-- hidden -->
        <div class="zz-scwordr fr">
            <ul class="ullist1">
            <li><span>帽子</span><input class="blue-border" name="" type="text" id='da_goods_url'/><span onclick="getgoods('da_goods_url','da_goods_img','da_goods');">确定1</span></li>
            <!-- 
            <li><span>围巾</span><input class="blue-border" name="" type="text" /><span>确定2</span></li>
            <li><span>上衣</span><input class="blue-border" name="" type="text" /><span>确定3</span></li>
            <li><span>裤子</span><input class="blue-border" name="" type="text" /><span>确定4</span></li>
            <li><span>鞋子</span><input class="blue-border" name="" type="text" /><span>确定5</span></li> -->
            </ul>
            <span id="da_goods_img"></span>
            <span id="da_goods"></span>
            <div class="xs-shop"><a class="bluebg"  href="javascript:void(0)" />显示商品</a></div>
            <!--  -->
            <input type="hidden" id="da_goods_num" name='da_goods_num'/>
            <!--  -->
        </div>
    </div>
    
</form>
</div>
    <!--1 end-->


<div class="zz-content3" style="display:none;">
<div class="zz-close"><span>关闭</span></div>
<h4>搭配秀2</h4>
<div class="zz-pinlun blue-border"><textarea class="zz-text2" name="" cols="" rows=""></textarea><input class="bluebg zz-but2" value="晒搭配" name="" type="button" />
<div class="clear"></div>
</div>
<div class="zz-tanceng"><span>表情</span>
<div class="zz-tclist">
<p class="zz-tcgb"><span>关闭</span></p>
<ul>
<li><a href=""><img src="images/biaoqing1.gif" height="15" width="15" border="0" /></a></li>
<li><a href=""><img src="images/biaoqing1.gif" height="15" width="15" border="0" /></a></li>
<li><a href=""><img src="images/biaoqing1.gif" height="15" width="15" border="0" /></a></li>
</ul>
<div class="clear"></div>
</div>
</div>
<div class="zz-shangc"><input class="zz-scbut bluebg" type="button" value="货物图片" /><span>商品图片</span></div>
<div class="zz-scall clearfix">
<div class="zz-scimgl blue-border fl"></div>
<div class="zz-scwordr fr">
<ul class="ullist2">
<li><img src="images/pic6.jpg" height="70" width="70" border="0" /></li>
<li><img src="images/pic6.jpg" height="70" width="70" border="0" /></li>
<li><img src="images/pic6.jpg" height="70" width="70" border="0" /></li>
<li><img src="images/pic6.jpg" height="70" width="70" border="0" /></li>
<li><img src="images/pic6.jpg" height="70" width="70" border="0" /></li>
</ul>
<div class="clear"></div>
<p class="line24">其他商品（商品网址输入下面框中）</p>
<div class="zz-rinput blue-border"><input class="zz-input4" name="" type="text"><input name="" class="zz-but3 bluebg" type="button" value="确定" onclick="getgoods('show_goods_url','show_goods_img','show_goods');"></div>
</div>
</div>
</div>
<!--搭配结束-->
</div>

</div>
<!--遮罩层结束-->


</body>
</html>