{!config_load file="web.inc.conf"!}
{!include file="inc/header.tpl"!}

<script type="text/javascript" src='{!#js_path#!}shopping.js'></script>
<!--
<div class="banner in-width1">
<img src="images/banner1.jpg"  height="301" width="955" border="0" />
</div> -->
<div class="footbg in-width"></div>
</div>
<!--top end-->

<script type="text/javascript">
$(function () {

});
</script>

{!include file="inc/usercenter_menu.tpl"!}

<!--content begin-->
<div id="content">


<!-- hidden -->
<!-- <input type="hidden" value="{!$goods_type!}" id="goods_type"/> --><!-- 商品type -->
<!-- <input type="hidden" value="0" id="page_time"/> --><!-- ajax分页次数 -->
<!-- <input type="hidden" value="{!$page_offset!}" id="page_offset"/> --><!-- 分页偏移量 -->
<!-- hidden -->


<!--相关文章推荐-->
<div class="aboutactr clearfix">
<h2>逛街</h2>                       <!-- 测试 --><div style="position:absolute; border:1px green solid;" id="show">ww</div><!-- 测试 -->
<div class="clearfix">

<div class="introduce1 fl" id="goods1"><!-- top -->
    <div class="intro1a">

        <div class="good-top1"></div>

        <div class="good-lc2"><!-- 1 -->
            <div >
                <ul>
                    <li><a class="bluebg" href="{!#weburl#!}{!$uri!}/{!$viewedUid!}/0">全部</a></li>
                    <li><a href="{!#weburl#!}{!$uri!}/{!$viewedUid!}/1">衣服</a></li>
                    <li><a href="{!#weburl#!}{!$uri!}/{!$viewedUid!}/2">鞋子</a></li>
                    <li><a href="{!#weburl#!}{!$uri!}/{!$viewedUid!}/3">包包</a></li>
                    <li><a href="{!#weburl#!}{!$uri!}/{!$viewedUid!}/4">配饰</a></li>
                    <li><a href="{!#weburl#!}{!$uri!}/{!$viewedUid!}/5">家居</a></li>
                    <li><a href="{!#weburl#!}{!$uri!}/{!$viewedUid!}/6">美状</a></li>
                    <li><a href="{!#weburl#!}{!$uri!}/{!$viewedUid!}/0">其他</a></li>
                </ul>
            </div>
        </div><!-- 1 -->

        <div class="good-foot1"></div>
    </div>
</div><!-- top -->

{!if !empty($myGoods.0)!}
<div class="introduce1 fl" id="goods2"><!-- top2 -->
{!foreach key=k item=g from=$myGoods.0!}

    <div class="intro1a">
        <div class="good-top1"></div>
        <div class="good-lc2">
            <div class='g_parent'>

                <div class="intro-img">
                    <a href="{!#weburl#!}goods/{!$g.g_id+10000!}"><img src="{!$g.pic!}" border="0" /></a>
                    <a style="position:absolute; border:1px red solid; left:170;right:100;" href="{!$g.g_url!}" target='__blank'>￥{!$g.price!}</a>
                </div>
                <div class="intro-word clearfix">
                    <span class="good-star fl like {!$g.like!}"></span>
                    <font class="blue fl">(<span class='likenum'>{!$g.g_like_num!}</span>)</font>
                    <span class="good-tl fr"></span>
                </div>

                <dl class="intro-man clearfix">
                    <dt class="man-img fl">
                        <img src="{!$g.head_img!}" height="33" width="33" border="0" class='getuserinfo' rel="{!$g.uid!}"/></a> 
                    </dt>
                    <dd class="man-word fl">
                        <p>
                            <a class="blue" href="{!#weburl#!}center/{!$g.uid!}"><b class='getuserinfo' rel="{!$g.uid!}">{!$g.nick!}</b></a> 
                            商品id: {!$g.g_id!} 
                        </p>
                        <p><a href="">商品介绍:{!$g.g_intro!}</a></p>
                    </dd>
                </dl>
                <!--hidden 数据区 -->
                <input type="hidden" class="g_id" value="{!$g.g_id+10000!}"/>
                <input type="hidden" class="uid" value="{!$g.uid!}"/>
                <input type="hidden" class="is_like" value="{!$g.like!}"/>
                <!--hidden 数据区 -->
            </div>

        </div>
        <div class="good-foot1"></div>
    </div>
{!/foreach!}
</div><!-- top2 -->
{!/if!}


{!if !empty($myGoods.1)!}
<div class="introduce1 fl" id="goods3"><!-- top3 -->
{!foreach key=k item=g from=$myGoods.1!}

<div class="intro1a">
<div class="good-top1"></div>
<div class="good-lc2">

<div class='g_parent'>

<div class="intro-img">
    <a href="{!#weburl#!}goods/{!$g.g_id+10000!}"><img src="{!$g.pic!}" border="0" /></a>
    <a style="position:absolute; border:1px red solid; left:170;right:100;" href="{!$g.g_url!}" target='__blank'>￥{!$g.price!}</a>
</div>

<div class="intro-word clearfix">
    <span class="good-star fl like {!$g.like!}"></span>
    <font class="blue fl">(<span class='likenum'>{!$g.g_like_num!}</span>)</font>
    <span class="good-tl fr"></span>
</div>
    <dl class="intro-man clearfix">
        <dt class="man-img fl">
            <img src="{!$g.head_img!}" height="33" width="33" border="0" class='getuserinfo' rel="{!$g.uid!}"/>
        </dt>
        <dd class="man-word fl">
            <p> 
                <a class="blue" href="{!#weburl#!}center/{!$g.uid!}"><b class='getuserinfo' rel="{!$g.uid!}">{!$g.nick!}</b></a> 
                商品id: {!$g.g_id!} 
            </p>
            <p><a href="">{!$g.g_intro!}</a></p>
        </dd>
    </dl>
    <!-- hidden数据区 -->
    <input type="hidden" class="g_id" value="{!$g.g_id+10000!}"/>
    <input type="hidden" class="uid" value="{!$g.uid!}"/>
    <input type="hidden" class="is_like" value="{!$g.like!}"/>
    <!-- hidden数据区 -->
</div>
</div>
<div class="good-foot1"></div>
</div>
{!/foreach!}
</div><!-- top3 -->
{!/if!}


{!if !empty($myGoods.2)!}
<div class="introduce2 fr" id="goods4"><!-- top4 -->
{!foreach key=k item=g from=$myGoods.2!}

<div class="intro1a">
<div class="good-top1"></div>
<div class="good-lc2">

<div class='g_parent'>

<div class="intro-img">
    <a href="{!#weburl#!}goods/{!$g.g_id+10000!}"><img src="{!$g.pic!}" border="0" /></a>
    <a style="position:absolute; border:1px red solid; left:170;right:100;" href="{!$g.g_url!}" target='__blank'>￥{!$g.price!}</a>
</div>
<div class="intro-word clearfix">
    <span class="good-star fl like {!$g.like!}"></span>
    <font class="blue fl">(<span class='likenum'>{!$g.g_like_num!}</span>)</font>
    <span class="good-tl fr"></span>
</div>
    <dl class="intro-man clearfix">
        <dt class="man-img fl">
            <img src="{!$g.head_img!}" height="33" width="33" border="0" class='getuserinfo' rel="{!$g.uid!}"/>
        </dt>
        <dd class="man-word fl">
            <p>
                <a class="blue" href="{!#weburl#!}center/{!$g.uid!}"><b class='getuserinfo' rel="{!$g.uid!}">{!$g.nick!}</b></a> 
                商品id: {!$g.g_id!} 
            </p>
            <p><a href="">{!$g.g_intro!}</a></p>
        </dd>
    </dl>
    <!-- hidden数据区 -->
    <input type="hidden" class="g_id" value="{!$g.g_id+10000!}"/>
    <input type="hidden" class="uid" value="{!$g.uid!}"/>
    <input type="hidden" class="is_like" value="{!$g.like!}"/>
    <!-- hidden数据区 -->
</div>
</div>
<div class="good-foot1"></div>
</div>
{!/foreach!}
</div><!-- top4 -->
{!/if!}


</div>
    <div class="page-list">page---->
        {!$pageStr!}
    </div>
</div>

</div>
<!--相关文章推荐结束-->
</div>
<!--content end-->

<!--footer begin-->
{!include file="inc/footer.tpl"!}
<!--footer end-->
</body>
</html>
