<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style>
#sm td{ padding:3px;}
</style>

<script type="text/javascript">
function insert_smiley(sm_str, formid) {
    $('#c_content').append(sm_str);
}
</script>

<table border="0" cellpadding="4" cellspacing="0" id="sm">
<tbody>
<tr>
    <td><a href="javascript:void(0);" onclick="insert_smiley(':-)', 'comments')">
        <img src="http://lovego.sinaapp.com/public/smilies/smileys/grin.gif" width="19" height="19" alt="grin" style="border:0;" /></a>
    </td>
    <td><a href="javascript:void(0);" onclick="insert_smiley(':lol:', 'comments')">
        <img src="http://lovego.sinaapp.com/public/smilies/smileys/lol.gif" width="19" height="19" alt="LOL" style="border:0;" /></a>
    </td>
    <td><a href="javascript:void(0);" onclick="insert_smiley(':cheese:', 'comments')">
        <img src="http://lovego.sinaapp.com/public/smilies/smileys/cheese.gif" width="19" height="19" alt="cheese" style="border:0;" /></a>
    </td>
    <td><a href="javascript:void(0);" onclick="insert_smiley(':)', 'comments')">
        <img src="http://lovego.sinaapp.com/public/smilies/smileys/smile.gif" width="19" height="19" alt="smile" style="border:0;" /></a>
    </td>
    <td><a href="javascript:void(0);" onclick="insert_smiley(';-)', 'comments')">
        <img src="http://lovego.sinaapp.com/public/smilies/smileys/wink.gif" width="19" height="19" alt="wink" style="border:0;" /></a>
    </td>
    <td><a href="javascript:void(0);" onclick="insert_smiley(':smirk:', 'comments')">
        <img src="http://lovego.sinaapp.com/public/smilies/smileys/smirk.gif" width="19" height="19" alt="smirk" style="border:0;" /></a>
    </td>
    <td><a href="javascript:void(0);" onclick="insert_smiley(':roll:', 'comments')">
        <img src="http://lovego.sinaapp.com/public/smilies/smileys/rolleyes.gif" width="19" height="19" alt="rolleyes" style="border:0;" /></a>
    </td>
    <td><a href="javascript:void(0);" onclick="insert_smiley(':-S', 'comments')">
        <img src="http://lovego.sinaapp.com/public/smilies/smileys/confused.gif" width="19" height="19" alt="confused" style="border:0;" /></a>
    </td>
</tr>
<tr>
    <td><a href="javascript:void(0);" onclick="insert_smiley(':wow:', 'comments')">
        <img src="http://lovego.sinaapp.com/public/smilies/smileys/surprise.gif" width="19" height="19" alt="surprised" style="border:0;" /></a>
    </td>
    <td><a href="javascript:void(0);" onclick="insert_smiley(':bug:', 'comments')">
        <img src="http://lovego.sinaapp.com/public/smilies/smileys/bigsurprise.gif" width="19" height="19" alt="big surprise" style="border:0;" /></a>
    </td>
    <td><a href="javascript:void(0);" onclick="insert_smiley(':-P', 'comments')">
        <img src="http://lovego.sinaapp.com/public/smilies/smileys/tongue_laugh.gif" width="19" height="19" alt="tongue laugh" style="border:0;" /></a>
    </td>
    <td><a href="javascript:void(0);" onclick="insert_smiley('%-P', 'comments')">
        <img src="http://lovego.sinaapp.com/public/smilies/smileys/tongue_rolleye.gif" width="19" height="19" alt="tongue rolleye" style="border:0;" /></a>
    </td>
    <td><a href="javascript:void(0);" onclick="insert_smiley(';-P', 'comments')">
        <img src="http://lovego.sinaapp.com/public/smilies/smileys/tongue_wink.gif" width="19" height="19" alt="tongue wink" style="border:0;" /></a>
    </td>
        <td><a href="javascript:void(0);" onclick="insert_smiley(':P', 'comments')">
        <img src="http://lovego.sinaapp.com/public/smilies/smileys/raspberry.gif" width="19" height="19" alt="raspberry" style="border:0;" /></a>
    </td>
        <td><a href="javascript:void(0);" onclick="insert_smiley(':blank:', 'comments')">
        <img src="http://lovego.sinaapp.com/public/smilies/smileys/blank.gif" width="19" height="19" alt="blank stare" style="border:0;" /></a></td>
    <td><a href="javascript:void(0);" onclick="insert_smiley(':long:', 'comments')">
        <img src="http://lovego.sinaapp.com/public/smilies/smileys/longface.gif" width="19" height="19" alt="long face" style="border:0;" /></a>
    </td>
</tr>
<tr>
    <td><a href="javascript:void(0);" onclick="insert_smiley(':ohh:', 'comments')">
        <img src="http://lovego.sinaapp.com/public/smilies/smileys/ohh.gif" width="19" height="19" alt="ohh" style="border:0;" /></a>
    </td>
    <td><a href="javascript:void(0);" onclick="insert_smiley(':grrr:', 'comments')">
        <img src="http://lovego.sinaapp.com/public/smilies/smileys/grrr.gif" width="19" height="19" alt="grrr" style="border:0;" /></a>
    </td>
    <td><a href="javascript:void(0);" onclick="insert_smiley(':gulp:', 'comments')">
        <img src="http://lovego.sinaapp.com/public/smilies/smileys/gulp.gif" width="19" height="19" alt="gulp" style="border:0;" /></a>
    </td>
    <td><a href="javascript:void(0);" onclick="insert_smiley('8-/', 'comments')">
        <img src="http://lovego.sinaapp.com/public/smilies/smileys/ohoh.gif" width="19" height="19" alt="oh oh" style="border:0;" /></a>
    </td>
    <td><a href="javascript:void(0);" onclick="insert_smiley(':down:', 'comments')">
        <img src="http://lovego.sinaapp.com/public/smilies/smileys/downer.gif" width="19" height="19" alt="downer" style="border:0;" /></a>
    </td>
    <td><a href="javascript:void(0);" onclick="insert_smiley(':red:', 'comments')">
        <img src="http://lovego.sinaapp.com/public/smilies/smileys/embarrassed.gif" width="19" height="19" alt="red face" style="border:0;" /></a>
    </td>
    <td><a href="javascript:void(0);" onclick="insert_smiley(':sick:', 'comments')">
        <img src="http://lovego.sinaapp.com/public/smilies/smileys/sick.gif" width="19" height="19" alt="sick" style="border:0;" /></a></td>
    <td><a href="javascript:void(0);" onclick="insert_smiley(':shut:', 'comments')">
        <img src="http://lovego.sinaapp.com/public/smilies/smileys/shuteye.gif" width="19" height="19" alt="shut eye" style="border:0;" /></a>
    </td>
</tr>
<tr>
    <td><a href="javascript:void(0);" onclick="insert_smiley(':-/', 'comments')">
        <img src="http://lovego.sinaapp.com/public/smilies/smileys/hmm.gif" width="19" height="19" alt="hmmm" style="border:0;" /></a>
    </td>
    <td><a href="javascript:void(0);" onclick="insert_smiley('>:(', 'comments')">
        <img src="http://lovego.sinaapp.com/public/smilies/smileys/mad.gif" width="19" height="19" alt="mad" style="border:0;" /></a>
    </td>
    <td><a href="javascript:void(0);" onclick="insert_smiley('>:-(', 'comments')">
        <img src="http://lovego.sinaapp.com/public/smilies/smileys/angry.gif" width="19" height="19" alt="angry" style="border:0;" /></a>
    </td>
    <td><a href="javascript:void(0);" onclick="insert_smiley(':zip:', 'comments')">
        <img src="http://lovego.sinaapp.com/public/smilies/smileys/zip.gif" width="19" height="19" alt="zipper" style="border:0;" /></a>
    </td>
    <td><a href="javascript:void(0);" onclick="insert_smiley(':kiss:', 'comments')">
        <img src="http://lovego.sinaapp.com/public/smilies/smileys/kiss.gif" width="19" height="19" alt="kiss" style="border:0;" /></a>
    </td>
    <td><a href="javascript:void(0);" onclick="insert_smiley(':ahhh:', 'comments')">
        <img src="http://lovego.sinaapp.com/public/smilies/smileys/shock.gif" width="19" height="19" alt="shock" style="border:0;" /></a>
    </td>
    <td><a href="javascript:void(0);" onclick="insert_smiley(':coolsmile:', 'comments')">
        <img src="http://lovego.sinaapp.com/public/smilies/smileys/shade_smile.gif" width="19" height="19" alt="cool smile" style="border:0;" /></a>
    </td>
    <td><a href="javascript:void(0);" onclick="insert_smiley(':coolsmirk:', 'comments')">
        <img src="http://lovego.sinaapp.com/public/smilies/smileys/shade_smirk.gif" width="19" height="19" alt="cool smirk" style="border:0;" /></a>
    </td>
</tr>
<tr>
    <td><a href="javascript:void(0);" onclick="insert_smiley(':coolgrin:', 'comments')">
        <img src="http://lovego.sinaapp.com/public/smilies/smileys/shade_grin.gif" width="19" height="19" alt="cool grin" style="border:0;" /></a>
    </td>
    <td><a href="javascript:void(0);" onclick="insert_smiley(':coolhmm:', 'comments')">
        <img src="http://lovego.sinaapp.com/public/smilies/smileys/shade_hmm.gif" width="19" height="19" alt="cool hmm" style="border:0;" /></a>
    </td>
    <td><a href="javascript:void(0);" onclick="insert_smiley(':coolmad:', 'comments')">
        <img src="http://lovego.sinaapp.com/public/smilies/smileys/shade_mad.gif" width="19" height="19" alt="cool mad" style="border:0;" /></a>
    </td>
    <td><a href="javascript:void(0);" onclick="insert_smiley(':coolcheese:', 'comments')">
        <img src="http://lovego.sinaapp.com/public/smilies/smileys/shade_cheese.gif" width="19" height="19" alt="cool cheese" style="border:0;" /></a>
    </td>
    <td><a href="javascript:void(0);" onclick="insert_smiley(':vampire:', 'comments')">
        <img src="http://lovego.sinaapp.com/public/smilies/smileys/vampire.gif" width="19" height="19" alt="vampire" style="border:0;" /></a>
    </td>
    <td><a href="javascript:void(0);" onclick="insert_smiley(':snake:', 'comments')">
        <img src="http://lovego.sinaapp.com/public/smilies/smileys/snake.gif" width="19" height="19" alt="snake" style="border:0;" /></a>
    </td>
    <td><a href="javascript:void(0);" onclick="insert_smiley(':exclaim:', 'comments')">
        <img src="http://lovego.sinaapp.com/public/smilies/smileys/exclaim.gif" width="19" height="19" alt="excaim" style="border:0;" /></a>
    </td>
    <td><a href="javascript:void(0);" onclick="insert_smiley(':question:', 'comments')">
        <img src="http://lovego.sinaapp.com/public/smilies/smileys/question.gif" width="19" height="19" alt="question" style="border:0;" /></a>
    </td>
</tr>
</tbody>
</table>
