{!config_load file="web.inc.conf"!}
{!include file="inc/header.tpl"!}

<script type="text/javascript" src="{!#ajs_path#!}admin_extjs/goodslist.js"></script>

<html>
<body>
    <div id="center1">

    </div>
</body>
</html>