{!config_load file="web.inc.conf"!}
{!include file="inc/header.tpl"!}

<script type="text/javascript" src="{!#ajs_path#!}admin_extjs/login.js"></script>

<body>
    <div id="main"></div>
</body>
</html>