{!config_load file="web.inc.conf"!}
{!include file="inc/header.tpl"!}

<link href="{!#acss_path#!}skin.css" rel="stylesheet" type="text/css" />

<style type="text/css">
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #EEF2FB;
}
</style>

<body>
right!!
</body>
