{!config_load file="web.inc.conf"!}
{!include file="inc/header.tpl"!}

<title>- 管理页面</title>

<script language=JavaScript>
    function logout(){
        if (confirm("您确定要退出控制面板吗？")) {
            return true;
        } else {
            return false;
        }    
    }
</script>
<script language=JavaScript1.2>
    function showsubmenu(sid) {
        var whichEl = eval("submenu" + sid);
        var menuTitle = eval("menuTitle" + sid);
        if (whichEl.style.display == "none"){
            eval("submenu" + sid + ".style.display=\"\";");
        }else{
            eval("submenu" + sid + ".style.display=\"none\";");
        }
    }
</script>

<meta http-equiv="refresh" content="60">
<script language=JavaScript1.2>
function showsubmenu(sid) {
	var whichEl = eval("submenu" + sid);
	var menuTitle = eval("menuTitle" + sid);
	if (whichEl.style.display == "none"){
		eval("submenu" + sid + ".style.display=\"\";");
	}else{
		eval("submenu" + sid + ".style.display=\"none\";");
	}
}
</script>

<base target="main">
<link href="{!#acss_path#!}skin.css" rel="stylesheet" type="text/css">
</head>
<body leftmargin="0" topmargin="0">
<table width="100%" height="64" border="0" cellpadding="0" cellspacing="0" class="admin_topbg">
    <tr>
        <td width="61%" height="64" align="left"><img src="{!#aimg_path#!}logo.jpg" width="262" height="64"></td>
        <td width="39%" valign="top">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td width="74%" height="38" class="admin_txt">管理员：{!$smarty.session.a_nick!}<b></b>您好,感谢登陆使用！<a href="/index.php/index/calendar" style="color:red;">日历</a></td>
                <td width="22%">
                    <a href="{!#aweburl#!}" target="_top" onClick="logout();"><img src="{!#aimg_path#!}out.gif" alt="安全退出" width="46" height="20" border="0"></a>
                </td>
                <td width="4%">&nbsp;</td>
            </tr>
            <tr>
                <td height="19" colspan="3"></td>
            </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
