.title{
    font-size:16px;
    height:40px;
    background-color:#385b77;
}

.table{
    text-align:center;
    background-color:#cfd8e1;
    width:98%;
}

.table tr{

}

.head{
    background-color:#71838d;
}

body {
	background-color: #EEF2FB;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
    font-family:'幼圆';
}

a:link {
	font-size: 12px;
	line-height: 25px;
	color: #333333;
	text-decoration: none;
}
a:hover {
	font-size: 12px;
	line-height: 25px;
	color: #666666;
	text-decoration: none;
}
a:visited {
	font-size: 12px;
	line-height: 25px;
	color: #333333;
	text-decoration: none;
}