{!config_load file="web.inc.conf"!}
{!include file="inc/header.tpl"!}

<title>- 管理页面</title>

<base target="main">

</head>
<body leftmargin="0" topmargin="0">
<table width="90%"  border="1" cellpadding="0" cellspacing="0"  align="center" class="table">
    <tr class="title">
        <td><a href="">添加广告</a></td>
        <td colspan="11">广告列表</td>
    </tr>
    <tr align="center" class="head">
        <td width="8%" >id</td>
        <td width="10   %" >图片名称</td>
        <!--td width="10%" >图片地址</td-->
        <td width="10%" >广告链接</td>
        <td width="8%" >广告位置</td>
        <td width="8%"  >有效时间</td>
        <td width="8%"  >开始时间</td>
        <td width="10%" >结束时间</td>
        <td width="5%" >频道</td>
        <td width="5%" >栏目</td>
        <td width="5%" >是否显示</td>
        <td width="10%" >添加时间</td>
        <td width="10%" >管理</td>
    </tr>

    <tr>
        <td></td>
        <td></td>
        <!--td></td-->
        <td></td>
        <td></td>
        <td>永久有效</td>
      

        <td></td>
        <td></td>
        <td></td>
        <td></td>

        <td>显示</td>
     

        <td></td>

        <td>
            <a href="#" id="test">[查看广告图片]</a><br/>
            <a href="{!#aweburl#!}getmanygoods" >批量获取商品</a> | <a href="javascript:;" id="getgoods">js获取</a> 
        </td>

    </tr>
    <tr><td colspan="12"></td></tr>

</table>

<script type="text/javascript" src="{!#ajs_path#!}common.js"></script>
<script type="text/javascript" src="{!#ajs_path#!}goods_arr.js"></script>
<script type="text/javascript">
$(function() {
    $('#test').click(function() {
        $.post(a_global.a_weburl+'te?'+new Date().getTime(),'',function(msg) {
            alert(msg);
        });
    });

    $('#getgoods').click(function() {

        var cid = 0;
        var p = 0;
   
        $('#logs').html('开始<br>');
        
/**/
        var getg = setInterval(function() {
            //ajax
            $.post(a_global.a_weburl+'getmanygoods?'+new Date().getTime(),{'gcid':goodscid[cid],'price':price[p]},function(msg) {
                $('#logs').append('<span>'+msg+'</span><br>');
//                alert(msg);
                //所有类都抓了
                /**/
                if (p >= 13) {
                    clearInterval(getg);
                }

                if (cid >= 20) {
                    cid = 0;
                    p++;
                   
                } else {
                    cid++;
                }
 
            });
               
        },30000);
     
    });

});
</script>

<div id="logs"></div>


</body>
</html>
