<!--footer begin-->
<div id="footer" class="in-width">
<div class="topbg"></div>
<div class="content1-m middlebg">
<div class="foot1 fl">
<h3 class="blue">网站</h3>
<ul>
<li><a href="">购物</a></li>
<li><a href="">专辑</a></li>
<li><a href="">搭配</a></li>
<li><a href="">购物</a></li>
<li><a href="">专辑</a></li>
<li><a href="">搭配</a></li>
</ul>
</div>
<div class="foot2 fl">
<h3 class="blue">团队</h3>
<ul>
<li><a href="">购物</a></li>
<li><a href="">专辑</a></li>
<li><a href="">搭配</a></li>
<li><a href="">购物</a></li>
<li><a href="">专辑</a></li>
<li><a href="">搭配</a></li>
</ul>
</div>
<div class="foot3 fl">
<h3 class="blue">手机版</h3>
<ul>
<li><a href="">购物</a></li>
<li><a href="">专辑</a></li>
<li><a href="">搭配</a></li>
</ul>
<h3 class="blue">软件版</h3>
<ul>
<li><a href="">购物</a></li>
<li><a href="">专辑</a></li>
<li><a href="">搭配</a></li>
</ul>
</div>
<div class="foot4 fl">
<img src="{!#img_path#!}pic10.jpg" height="120" width="126" border="0" />
</div>
<div class="foot5 fl">
<h3 class="blue">合作伙伴</h3>
<ul>
<li><a href="">购物</a></li>
<li><a href="">专辑</a></li>
<li><a href="">搭配</a></li>
</ul>
</div>
<div class="foot6 fl">
<h3 class="blue">关注我们</h3>
<ul>
<li><a href="">购物</a></li>
<li><a href="">专辑</a></li>
<li><a href="">搭配</a></li>
</ul>
</div>
<div class="foot7 fl">
<h3 class="blue">友情链接</h3>
<ul>
<li><a href="">购物</a></li>
<li><a href="">专辑</a></li>
<li><a href="">搭配</a></li>
</ul>
</div>
<div class="clear"></div>
</div>
</div>
<!--footer end-->
<div class="scroll-top"><a href="#"><img src="{!#img_path#!}scroll.gif" height="58" width="57" border="0" /></a></div>