<link href="{!#css_path#!}login.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{!#js_path#!}globalform.js"></script>
<script type="text/javascript" src="{!#js_path#!}jquery.ckform.js"></script>

<style>
.blue-borderl{ border-right:{!if isset($smarty.session.lovego.sex) and $smarty.session.lovego.sex eq 2!}#FC6B96{!else!}#78BBE6{!/if!} solid 3px; }
</style>