<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style>
#sm td{ padding:3px;}
</style>

<script type="text/javascript">
function insert_smiley(sm_str, formid) {
    $('#c_content').append(sm_str);
}
</script>

<table border="0" cellpadding="4" cellspacing="0" id="sm">
<tbody>

<tr>
{!foreach from=$smileys item=sm key=k!}
    {!if $sm@index%10 eq 0!}</tr><tr>{!/if!}
    <td><a href="javascript:void(0);" onclick="insert_smiley('{!$k!}', 'comments')">
        <img src="http://lovego.sinaapp.com/public/smilies/smileys/{!$sm.0!}" width="19" height="19" title="{!$k!}" style="border:0;" /></a>
    </td>
{!/foreach!}
</tr>

</tbody>
</table>
