    
    
    <div class="good-right fr">
        <div class="good-top1"></div>
        <div class="good-lc2 padding10">
            <p class="beaut-pic"><img src="images/pic12.jpg" height="128" width="129" border="0" /></p>

            <ul class="beaut-name">
            <li class="admin-img"><img src="images/icons1.gif" height="16" width="16" border="0" /></li>
            <li>{!$userInfo.nick!}</li>
            <li class="admin-img"><img src="images/icons2.gif" height="22" width="21" border="0" /></li>
            </ul>

            <ul class="beaut-gz">
            <li><p>分享</p><p class="blue">{!$userInfo.share!}</p></li>
            <li><p>粉丝</p><p class="blue">{!$userInfo.pink!}</p></li>
            <li><p>关注</p><p class="blue">{!$userInfo.attention!}</p></li>
            <li class="noborder"><p class="img-line"><img src="images/icons5.gif" height="13" width="16" border="0" /></p><p class="blue">{!$userInfo.like!}</p></li>
            </ul>
            <div class="clear"></div>
            <div class="add-guanz clearfix">
                <a class="fl bluebg" id="{!if empty($userInfo.att_uid)!}attention{!else!}del_attention{!/if!}" href="javascript:;" rel='{!$userInfo.uid!}'>{!if empty($userInfo.att_uid)!}＋加关注{!else!}取消关注{!/if!}</a>
                <a class="fr" href="">发私信</a>
            </div>
            <p class="bluebg gowhere"><a href="{!#weburl#!}center/{!$userInfo.uid!}">去他的空间</a></p>
        </div>
        <div class="good-foot1"></div>
    </div>