<div class="good-list clearfix">
    <ul>
        <li><a href="{!#weburl#!}center/{!$viewedUid!}">动态</a></li>
        <li>|</li>
        <li><a href="{!#weburl#!}mygoods/{!$viewedUid!}/0">宝贝</a></li>
        <li>|</li>
        <li><a href="{!#weburl#!}likedgoods/{!$viewedUid!}/0">喜欢</a></li>
        <li>|</li>
        <li><a href="{!#weburl#!}">晒货</a></li>
        <li>|</li>
        <li><a href="{!#weburl#!}">搭配</a></li>
        <li>|</li>
        <li><a href="{!#weburl#!}">宝贝箱</a></li>
    </ul>
</div>